* {
    box-sizing: border-box;
}

body {
    background-color: #F1F1F2;
}

.center {
    text-align: center;
}


ul {
    position: relative;
    top: 12em;
    list-style: none;
    margin: auto;
    display: inline-block;
}

img {
    display: inline;
    width: 150px;
    height: 50px;
}

#footer {
    width: 100%;
    border-top: solid 2px black;
    background-color: white;
    position: fixed;
    bottom: 0;
}


#inputParent{
  
  width: 500px;
  height: 225px;
  z-index: 0;
  background-color: black;
  position: relative;
  top: 13em;
  left: -45px;
  margin-left: 4em;
  display: inline-block;
  border-radius: 10%;
  
}

#player-input {
    box-shadow: -3px -3px #A5F2F3;
    height: 50px;
    width: 400px;
    position: relative;
    top: 2em;
    margin-left:1em;
    outline: none;
    font-family: Marker Felt, fantasy;
    font-style: italic;
    color: black;
    z-index: 1;
    word-spacing: 30px;
    background-color: #e6e6e6;
    
}

#player-input::placeholder{
  color: black;
  font-size: 25px;
}


#tagLine {
  color: white;
  font-family: Marker Felt, fantasy;
  font-style: italic;
  font-size: 24px;
  letter-spacing: 3px; 
}

.col-md-04 {
    margin: auto;
}

#title {
    position: relative;
    top: 1em;
    margin: auto;
    font-family: Marker Felt, fantasy;
    font-size: 78px;
    letter-spacing: 20px;
}

#subtitle {
    position: relative;
    top: 4.5em;
    margin: auto;
    font-family: Marker Felt, fantasy;
    font-size: 40px;
}

.btn {
 box-shadow: -5px -5px #A5F2F3;   
  position: relative;
    top: 15em;
    margin: auto;
    background-color: #e6e6e6;
    width: 6em;
    height: 3em;
    font-family: Marker Felt, fantasy;
    z-index: 3;
}

.btn:hover { 
    background-color: #A5F2F3;
}



#submit-btn {
    position: relative;
    top: 105px;
    width: 8em;
    height: 3em;
    color: black;
    border-color: #1995AD;
    padding-top: 0px;

}

#reset-btn {
    position: relative;
    top: 105px;
    color: black;
    left: -15%;
}

#hint-btn {
    top: 105px;
    color: black;
    right: -15%;
}



#author {
    width: 150px;
}


.guessDiv {
    box-shadow: -5px -5px black;
    width: 155px;
    height: 155px;
    margin: 15px;
    font-size: 64px;
    font-weight: bold;
    position: relative;
    left: 110px;
    top: 30%;
    border: solid;
    border-color: black;
    border-width: thin;
    line-height: 240px;
    border-radius: 10%;
    background-color: white;
    text-align: center;
}

.move {
    margin-left: 11%;
}





